$color-white: #FFF;                 // 白色
$color-black: #000;                 // 黑色
$color-black1: #2a2a2b;             // 黑色1

$color-gray1: #333;                 // 灰色1
$color-gray2: #666;                 // 灰色2
$color-gray3: #ccc;                 // 灰色3
$color-gray4: #403c3c;              // 灰色4

$color-blue1: #04708a;              // 水藍色1
$color-blue2: #0ab1d9;              // 水藍色2

$color-brown1:#4c4244;              // 棕色1






// $color-black1: #464646;             // 黑色1
// $color-black2: #76818B;             // 黑色2
// $color-black3: #3C577A;             // 黑色3

// $color-gray1: #A2ACB6;              // 灰色1
// $color-gray2: #C1CDD9;              // 灰色2
// $color-gray3: #ddd;                 // 灰色3
// $color-gray4: #e4e6ea;              // 灰色4
// $color-gray5: #eee;                 // 灰色5
// $color-gray6: #f7f7f7;              // 灰色6

// $color-blue1: #1E4786;              // 藍色1
// $color-blue2: #348AE0;              // 藍色2
// $color-blue3: #BADBFC;              // 藍色3
// $color-blue4: #e8f3ff;              // 藍色4

// $color-red1: #F00;                  // 紅色1
// $color-red2: #b91616;                  // 紅色2

// $color-orange: #ff9a00;             // 橘色1
// $color-green1: #38a53d;             // 綠色1

$hr-color: $color-gray2;              // 分隔線


//----------------------------- RWD 斷點 -----------------------------
$xl-media:1200px;
$lg-media:992px;
$md-media:768px;
$sm-media:576px;